/* цвет основного текста #757575*/
/* цвет вторичного текста #212121*/
/* белый FFFFFF*/
/* акцент #2196F3 - #000000*/
/* Вторичный цвет фона #2F303A */
/* Вторичный цвет фона# F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #fff;
  --accent-text-color: #2196f3;
  --icon-color: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: var(--primary-text-color);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
address {
  font-style: normal;
  margin-top: 20px;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-feature {
  padding-top: 0;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.section-team {
  background: #f5f4fa;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* header */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.container-header {
  display: flex;
  align-items: center;
}
.nav {
  margin-left: 93px;
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.logo-link {
  color: #3a5a40;
  margin: 9px 0;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 100%;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-img {
  width: 94px;
  height: 65px;
  margin: 0;
  padding: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #3a5a40;
}
.nav-link-active {
  color: #3a5a40;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link-active::after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: 0%;
  width: 100%;
  bottom: -3px;
  left: 0;
  background: #3a5a40;
}
.cont-list {
  display: flex;
  margin-left: auto;
}
.cont-item:not(:last-child) {
  margin-right: 50px;
}
.cont-link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}
.cont-link:hover,
.cont-link:focus {
  color: var(--accent-text-color);
}
.cont-link:hover .cont-icon {
  fill: var(--accent-text-color);
}
.cont-link:focus .cont-icon {
  fill: var(--accent-text-color);
}

/* hero */
.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image:
    url(../img/bg-h.jpg);
  background-size: cover;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
}

.hero-title {
  font-weight: 1200;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 450px;
  margin: 0;
  text-align: left;
  color: #020202;
}
.hero-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 400px;
  margin: 0;
  text-align: left;
  color: #020202;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  margin: 0;
  margin-top: 30px;
  padding: 10px 29px;
  display: block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #3a5a40;
}
.button:hover,
.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* sevtion joob */
.job-item-thumb {
  position: relative;
}
.job-animation {
  display: flex;
  font-weight: 700;
  line-height: 1.14px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/* section-pecul */
.section-pecul {
  background-color: #f9f8f4;
  padding-top: 120px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.pecul-list {
  display: flex;
}
.pecul-item {
  margin: 0 auto;
  padding: 0 auto;
  width: 250px;
}
.pecul-title {
  text-transform: uppercase;
  box-sizing: content-box;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center; 
}
.pecul-text {
  text-transform: uppercase;
  box-sizing: content-box;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center; 
}
.pecul-tumba {
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 3px 3px silver, -1em 0 0.4em silver;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pecul-icons {
  width: 50px;
  height: 50px;
}
.pecul-item:not(:last-child) {
  margin-right: 30px;
}
.pros-title {
  margin-bottom: 20px;
  font-weight: 1200;
  font-size: 54px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
  color: #020202;
}
.pros-text {
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #020202;
}
/* section fish */

.section-fish {
  padding-top: 100px;
}
.feature-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.feature {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 15px;
}

/* price */

.price-list {
  display: flex;
  margin-top: 50px;
}
.price-title {
  color: var(--title-text-color);
}
.price-item:not(:last-child) {
  margin-right: 30px;
}
.tumba {
  padding: 30px 0;
  width: 250px;
}
.tumba-price {
  border-bottom: #020202;
}
.price-item {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
}




/* footer */
.container-footer {
  display: flex;
  align-items: center;
}
.footer-title {
  text-transform: uppercase;
  box-sizing: content-box;
  margin: 20px 0;
  font-size: 24px;
}
.address-list {
  margin: 0 auto;
}
.cont-link-fa {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #3a5a40;
}
.cont-link-f {
  font-weight: 700;
  line-height: 1.71;
  color: #3a5a40;
}
footer {
  background-color: #fff;
  padding: 60px 0;
}
.nav-item-f:not(:last-child) {
  margin-bottom: 9px;
}




/* fish */
.section-fish {
  background-color: #3a5a40;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  margin: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  background: #f5f4fa;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fish-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.fish-item:nth-child(-n + 4) {
  margin-bottom: 30px;
}

.fish-item {
  position: relative;
}
.fish-tumba {
  margin-top: -5px;
  padding: 10px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #ffffff;
}
.fish-title {
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #fff;
}.fish-text {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #fff;
}
.fishname-title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}


