.portfolio {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.portfolio__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(9) {
      margin-right: 0;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(-n + 6) {
      margin-bottom: 30px;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:nth-child(3),
    &:nth-child(6) {
      margin-right: 0;
    }
    img {
      width: 370px;
      height: 294px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__thumb {
    .portfolio__item:nth-child(1) & {
      padding-bottom: 56px;
    }
  }
}

.feature__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.feature {
  display: flex;
}
.feature__item:not(:last-child) {
  margin-right: 15px;
}


.fish__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.fish__item:nth-child(-n + 4) {
  margin-bottom: 30px;
}

.fish__item {
  position: relative;
}
.fish__tumba {
  margin-top: -5px;
  padding: 10px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #ffffff;
}
.fish__title {
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #fff;
}.fish__text {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #fff;
}
.fishname__title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}