.container__footer {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-content: center;
  }
}

.footer__title {
  text-transform: uppercase;
  box-sizing: content-box;
  margin: 20px 0;
  font-size: 24px;
}
.address__list {
  margin: 0 auto;
}
.cont__link__fa {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #3a5a40;
}
.cont__link__f {
  font-weight: 700;
  line-height: 1.71;
  color: #3a5a40;
}
footer {
  background-color: #fff;
  padding: 60px 0;
}
.nav__item__f:not(:last-child) {
  margin-bottom: 9px;
}
