.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image:
    url(../img/bg-h.jpg);
  background-size: cover;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__title {
  font-weight: 1200;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 450px;
  margin: 0;
  text-align: left;
  color: #020202;
}
.hero__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 400px;
  margin: 0;
  text-align: left;
  color: #020202;
}

