.price__wrap {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.price__item {
  padding: 10px;
  border-radius: 10%;
}
.price__item__wrap {
  background: #F7F7F2;
  position: relative;
}


.price__link {
  text-decoration: none;
  display: block;
  padding: 30px;
}
.price__title {
  color: #33261D;
  margin-bottom: 15px;
  transition: .3s ease-in-out;
}

.price__content {
  color: #A69888;
  font-size: 13px;
}
@media (min-width: 480px) {
  .price__item {
     flex-basis: 100%;
     flex-shrink: 0;
  }
@media (min-width: 768px) {
  .price__item {
     flex-basis: 50%;
     flex-shrink: 0;
  }
}
  @media (min-width: 960px) {
    .price__item {
       flex-basis: 50%;
    }
  }
}